.cards {
  display: flex;
  gap: 30px;
  height: 0;
  opacity: 0;
  visibility: hidden;
}
@media (max-width: 1200px) {
  .cards {
    width: 320px;
    transition: all .5s ease-in-out;
    transform: translateX(0);
  }
}
