.products__item {
  display: flex;
  padding-bottom: 120px;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .products__item {
    padding-bottom: 20px;
    display: grid;
    grid-template-areas:
    'title'
    'link'
    'card';
  }
}
