@import '../../mixins/mixins';

.main-screen {
  @include reset;
  padding: 0 0 0 120px;
  display: grid;
  overflow: hidden;
  grid-template-columns: repeat(2, minmax(min-content, max-content));
  grid-template-rows: repeat(5, minmax(min-content, max-content));
  grid-template-areas:
  'title img'
  'text img'
  'btn img'
  'ftn img'
  '. img';
}

@media (max-width: 767px) {
  .main-screen {
    padding: 0 18px 80px 18px;
    grid-template-columns: repeat(1, minmax(min-content, max-content));
    grid-template-rows: repeat(4, minmax(min-content, max-content));
    grid-template-areas:
    'title'
    'img'
    'text'
    'btn';
  }
}
