@import '../../../mixins/mixins';

.info-citate__name {
  @include reset;
  @include title;
  @include adaptiv-font(20, 14);
  @include adaptiv-line-height(32, 22);
  margin-top: 262px;
  font-weight: 500;
}

@media (max-width: 767px) {
  .info-citate__name {
    margin-top: 40px;
  }
}
