@import '../../mixins/mixins';

.title {
  @include reset;
  @include title;
  @include adaptiv-font(55, 32);
  @include adaptiv-line-height(60, 40);

  font-weight: 700;
  grid-area: title;

  letter-spacing: -0.5px;
  margin-top: 80px;
}

@media (max-width: 768px) {
  .title {
    width: calc(100vw - 36px);
    margin: 0;
    border-top: 1px solid var(--border-line);
    padding-top: 40px;
    width: calc(100vw - 36px);
  }
}
