@import '../../../mixins/mixins';

.products__title {
  @include reset;
  @include title;
  @include adaptiv-font(55, 32);
  @include adaptiv-line-height(60, 40);
  font-weight: 700;
  letter-spacing: -0.5px;
  margin-top: 120px;
}
