@import '../../../mixins/mixins';

.info-citate__title {
  @include reset;
  @include title;
  font-size: 34px;
  line-height: 44px;
  max-width: 470px;
  font-weight: 600;
  letter-spacing: -0.5px;
}

@media (max-width: 1200px) {
  .info-citate__title {
    @include adaptiv-font(34, 23);
    @include adaptiv-line-height(44, 29);
  }
}
