@import '../../../mixins/mixins';

.info-citate__title {
  @include reset;
  @include title;
  @include adaptiv-font(34, 23);
  @include adaptiv-line-height(44, 29);
  max-width: 470px;
  font-weight: 600;
  letter-spacing: -0.5px;
}
