@import '../../mixins/mixins';

.pages {
  box-sizing: border-box;

  @include reset;
  @include bg;

  --myname: #CFCFCF;
  --title-color: #151515;
  --bg: #F4F4F4;
  --bg-btn: #FFFFFF;
  --info-color: #222222;
  --bg-footer: #EFEFEF;
  --bg-slider-btn: #EBEBEB;
  --input-border: rgb(199, 199, 199, .5);
  --input-border-active: rgb(199, 199, 199);
  --arrow-left: url(../../img/left.svg);
  --arrow-right: url(../../img/right.svg);
  --icon-black: url(../../../img/Vectorblack-wt.svg);
  --icon-white: url(../../../img/Vectorwhite-wt.svg);

  position: relative;
  font-family: 'Inter', sans-serif;
  max-width: 1440px;
  margin: auto;


  transition: all .5s ease-in-out;
}

@media (max-width: 767px) {
  .pages {
    max-width: 767px;
  }
}
