@import '../../../mixins/mixins';

.footer__input-email {
  @include title;
  @include reset;

  cursor: url(../../../img/cursor.svg), pointer;
  min-width: 350px;
  min-height: 50px;

  border: 1px solid var(--input-border);
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0);
  padding-left: 25px;
}

.footer__input-email:focus {
  outline: 1px solid var(--input-border-active);
}

.footer__input-email::placeholder {
  @include text;
  transition: all .5s ease-in-out;
  font-weight: 500;
  font-size: 13px;
  line-height: 28px;
}

.footer__input-email:hover::placeholder{
  @include title;
}
.footer__input-email:focus::placeholder{
  opacity: 0;
}
