@import '../../../mixins/mixins';

.pages_theme_black {
  --myname: #565656;
  --title-color: #FFFFFF;
  --bg: #333333;
  --bg-btn: #545454;
  --info-color: #E6E6E6;
  --bg-footer: #2F2F2F;
  --border-line: #666666;
  --bg-slider-btn: #434343;
  --input-border: rgb(125, 125, 125, .5);
  --input-border-active: #7D7D7D;
  --arrow-left: url(../../img/Vectorarrow-left-bl.svg);
  --arrow-right: url(../../img/Vectorarrow-right-bl.svg);
  --arrow-small-left: url(../../img/small-left-white.svg);
  --arrow-small-right: url(../../img/small-right-white.svg);
  --icon-black: url(../../../img/Vectorblack-bl.svg);
  --icon-white: url(../../../img/Vectorwhite-bl.svg);
  --footer-icon-small: url(../../../img/logo-black.svg);
}
