@import '../../../mixins/mixins';

.card-item__name {
  @include link;
  @include adaptiv-font(18, 14);
  @include adaptiv-line-height(22, 18);
  padding-top: 22px;
  font-weight: 600;
  padding-left: 10px;
}

@media (max-width: 1200px) {
  .card-item__name {
    padding: 3px 0 16px 0;
    text-align: center;
  }
}
