.info {
  padding-top: 120px;
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, max-content));
}

@media (max-width: 767px) {
  .info {
    padding-top: 100px;
    grid-template-columns: repeat(1, minmax(min-content, max-content));
    grid-template-rows: repeat(2, minmax(min-content, max-content));
  }
}
