@import '../../../mixins/mixins';

.info-citate__description {
  @include reset;
  @include text;
  @include adaptiv-font(16, 10);
  @include adaptiv-line-height(28, 16);
  margin-top: 6px;
  font-weight: 400;
}

@media (max-width: 1440px) {
  .info-citate__description {
    margin-top: 4px;
  }
}
