.products__navigation {
  align-self: end;
}

@media (max-width: 1200px) {
  .products__navigation {
    margin-top: 40px;
    position: relative;
    height: 34px;
    width: 115px;
    overflow: hidden;
    z-index: 5;
  }
}
