@import '../../../mixins/mixins';

.block-text__text {
  @include reset;
  @include text;
  @include adaptiv-font(18, 12);
  @include adaptiv-line-height(28, 18);
  grid-area: text;

  max-width: 460px;
  font-weight: 400;
  margin-top: 50px;
}

@media (max-width: 767px) {
  .block-text__text {
    margin-top: 40px;
  }
}
