@import '../../../mixins/mixins';

.products__list {
  @include list;
  display: flex;
  gap: 40px;
}

@media (max-width: 768px) {
  .products__list {
    background-color: var(--bg);
    flex-direction: column;
    gap: 10px;

  }
}
